<header>
  <h1> {{#link-to 'index'}} Ember Rocks {{/link-to}} </h1>

  <nav>
    <ul>
      <li> {{#link-to 'index'}} Home {{/link-to}} </li>
      <li> {{#link-to 'users'}} Users {{/link-to}} </li>
    </ul>
  </nav>
</header>

<section class='main'>
  {{outlet}}
</section>
