<header>
  <h2> Ember Rocks </h2>

  <nav>
    <ul>
      <li> {{#link-to 'index'}} Home {{/link-to}} </li>
      <li> {{#link-to 'users'}} Users {{/link-to}} </li>
    </ul>
  </nav>
</header>
{{outlet}}
