{{!< default}}

<header>
	<h1>Boilerplate</h1>
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#login">Login</a></li>
		</ul>
	</nav>
</header>

<div id="main"> </div>

<h2>Server Handlebars Helper Testing! age: {{roundNumber data.age}}</h2>

<footer>
	<p>
		present by <a href="mailto:mattmadesign.com">Matt Ma</a>
	</p>
</footer>
