<!DOCTYPE html>

	{{> head}}

	<body>

		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		{{{body}}}

		{{#if gruntEnabled}}
			<!-- livereload snippet  -->
			<script src="http://localhost:35729/livereload.js?snipver=1"></script>
		{{/if}}
	</body>
</html>
