<form>
	<input type='text' id="username" placeholder='username'>
	<input type='password' id="password" placeholder='password'>
	<button id='loginSubmit'>Submit</button>
	<p id="loginMessage"></p>
</form>
