<h2> Users Detail Page </h2>

{{#link-to 'users' class='go-back'}} Go Back {{/link-to}}

<h3> {{ fullName }} </h3>
<h4>title: {{ occupation }} </h4>

<ul class='user'>
  {{#each others}}
    <li>
      <p> {{ other }} </p>
    </li>
  {{/each}}
</ul>
